/**
 * Created by LHammer on 18/02/28.
 * Perfect-scrollbar style
 */
$perfect-scrollbar-bgcolor: #ff8819;
$ps: 'ps';
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
    /**
     * Scrollbar rail styles
     */
    .ps__rail-x {
        height: 15px;
        display: none;
        opacity: 0;
        transition: background-color .2s linear, opacity .2s linear;
        /* please don't change 'position' */
        position: absolute;
        /* there must be 'bottom' or 'top' for ps__rail-x */
        bottom: 0px;
        /**
         * Scrollbar thumb-x styles
         */
        .ps__thumb-x {
            height: 6px;
            background-color: $perfect-scrollbar-bgcolor;
            border-radius: 6px;
            transition: background-color .2s linear, height .2s ease-in-out;
            /* please don't change 'position' */
            position: absolute;
            /* there must be 'bottom' for ps__thumb-x */
            bottom: 2px;
        }
        &:hover > .ps__thumb-x,
        &:focus > .ps__thumb-x,
        &.ps--clicking .ps__thumb-x {
            height: 11px;
            background-color: $perfect-scrollbar-bgcolor;
        }
    }
    
    .ps__rail-y {
        width: 15px;
        display: none;
        opacity: 0;
        transition: background-color .2s linear, opacity .2s linear;
        /* please don't change 'position' */
        position: absolute;
        /* there must be 'right' or 'left' for ps__rail-y */
        right: 0;
        /**
         * Scrollbar thumb-y styles
         */
        .ps__thumb-y {
            width: 6px;
            background-color: $perfect-scrollbar-bgcolor;
            border-radius: 6px;
            transition: background-color .2s linear, width .2s ease-in-out;
            /* please don't change 'position' */
            position: absolute;
            /* there must be 'right' for ps__thumb-y */
            right: 2px;
        }
        &:hover > .ps__thumb-y,
        &:focus > .ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            width: 11px;
            background-color: $perfect-scrollbar-bgcolor;
        }
    }
    &.ps--active-x > .ps__rail-x,
    &.ps--active-y > .ps__rail-y {
        display: block;
        background-color: transparent;
    }
    &:hover > .ps__rail-x,
    &:hover > .ps__rail-y,
    .ps--focus > .ps__rail-x,
    .ps--focus > .ps__rail-y,
    .ps--scrolling-x > .ps__rail-x,
    .ps--scrolling-y > .ps__rail-y {
        opacity: 0.6;
    }
    .ps__rail-x:hover,
    .ps__rail-y:hover,
    .ps__rail-x:focus,
    .ps__rail-y:focus,
    .ps__rail-x.ps--clicking,
    .ps__rail-y.ps--clicking {
        background-color: rgba($color: $perfect-scrollbar-bgcolor, $alpha: .2);
        opacity: 0.9;
    }
}
/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}
