/**
 * 为避免打包代码量过大，较大的（大于一百行）第三方样式建议不要使用@import引入，使用CDN引入即可
 * 例如：swiper.scss就不要使用@import引入，直接使用<link rel="stylesheet" href="https://static.yindou.com/web/css/swiper.min.css">
 */
@import "../normalize/index.scss";  /* resets */
@import "../animation/index.scss";  /* 常用动画 */
@import "../basics/index.scss";  /* base */
@import "../iconfonts/index.scss";  /* iconfonts */
@import "../components/app/progress.scss";  /* loading */
@import "../components/app/record.scss";  /* record page */
@import "../components/app/dialog.scss";  /* record page */

@include font-size(21px, ".ft-21");
@include font-size(23px, ".ft-23");
@include font-size(24px, ".ft-24");
@include font-size(26px, ".ft-26");

$wave: 'wave';
$dialog: 'dialog';
$target: 'target';

#app {
  height: 100%;
  background: linear-gradient(to bottom, #fefbec, #fcf4c7);
}
.main {
  height: 100%;
  font-family: 'HYXiaoMaiTiJ';
  position: relative;
  > .bg {
    position: absolute;
    width: 100%; height: 100%;
    background: url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/bg-1-amend.png') no-repeat center bottom / 100% auto;
    z-index: 9;
  }
}
.btn {
  display: inline-block;
  padding: .12rem .16rem;
  text-align: center;
  color: white;
  border-radius: .36rem;
  background: #ff6000;
  &:active {
      background: rgba($color: #ff6000, $alpha: .8);
  }
  &.gray {
    background: #acafb0;
  }
}
.loan {
  width: 100%; height: 3.973333rem;
  background: url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/bg-2.png') no-repeat left bottom / 100% auto;
  padding-top: 2.026667rem;
  padding-left: .386667rem;
  > p {
    width: 5.226667rem;
    text-align: center;
    color: #6b1115;
  }
  > p + p {
    color: #ff6000;
  }
}
.rule {
  width: 2.56rem; height: 2.56rem;
  position: absolute;
  top: .28rem; right: .333333rem;
  z-index: 12;
  > .bg {
    position: absolute;
    top: 0; left: 0;
    width: 2.56rem; height: 2.56rem;
    background: url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/bg-3.png') no-repeat center / 100%;
    animation: rotate 5s linear 0s infinite;
  }
  > .con {
    color: #ff6000;
    @include center {
      white-space: nowrap;
    }
  }
}
.#{$wave} {
  &.shadow {
    position: absolute;
    top: .08rem;
    background-image: url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/wave-shadow-amend.png');
    background-position: 1.36rem bottom;
    animation: wave-reverse 3.2s linear .8s infinite;
    z-index: -1;
  }
  &-container {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 11.746667rem;
  }
  &-column {
    width: 1.36rem; height: 6.56rem;
    @include justify-center {
      margin-top: .226667rem;
      margin-left: -.466667rem;
    }
    &-clone {
      position: absolute;
      width: 1.36rem; height: 6.56rem;
      left: 0; bottom: 0;
      border-top-left-radius: .786667rem;
      border-top-right-radius: .786667rem;
      overflow: hidden;
    }
    .shape {
      flex: 1;
      width: 100%;
      background: #f2492e;
      margin-top: -1px;
    }
  }
  &-main {
    position: absolute;
    width: 1.36rem; height: 1.066667rem;
    left: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    transition: height 2s;
  }
  width: 1.36rem; height: .68rem;
  background-image: url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/wave-main-amend.png');
  background-repeat: repeat-x;
  background-size: 1.36rem .68rem;
  background-position: -1.36rem bottom;
  animation: wave .8s linear infinite;
}

.#{$target} {
  &-container {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 11.746667rem;
    z-index: 12;
  }
  &-column {
    width: 1.36rem; height: 6.56rem;
    @include justify-center {
      margin-top: .226667rem;
      margin-left: -.466667rem;
    }
  }
  position: absolute;
  top: .68rem; left: 1.853333rem;
  z-index: 999;
  > span {
    display: block;
    white-space: nowrap;
    color: #6e151e;
    margin-bottom: .066667rem;
  }
  &:nth-of-type(2) {
    top: 2.946667rem;
  }
  &:nth-of-type(3) {
    top: 4.693333rem;
  }
  &.disabled,
  &[disabled] {
    > span {
      color: #999999;
    }
    a.btn {
      display: none;
    }
  }
}

.#{$dialog} {
  &-container {
    padding-top: .426667rem;
    background: transparent;
  }
  &-rules {
    padding: .88rem .386667rem 2.106667rem;
    border-radius: .24rem;
    background: #fcf4c7 url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/dialog-bg-1.png') no-repeat center bottom / 100% auto;
    color: #6b1115;
    > h3 {
      @include justify-center {
        padding: .466667rem .56rem;
        border-radius: 50%;
        margin-top: -1.306667rem;
      }
      background: #fcf4c7;
    }
    > p {
      position: relative;
      text-align: justify;
      z-index: 9;
    }
  }
  &-success {
    padding: .88rem .386667rem 1.306667rem;
    border-radius: .24rem;
    background: #fcf4c7 url('https://caiyunupload.b0.upaiyun.com/ydimg/theme/2018/05/riseseason/dialog-bg-2.png') no-repeat center bottom / 100% auto;
    color: #6b1115;
    > p {
      line-height: .773333rem;
      margin-bottom: .92rem;
      &:nth-of-type(1) {
        margin-bottom: .52rem;
      }
      &:nth-of-type(2) {
        margin-bottom: .386667rem;
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }
    > img {
      width: 2.56rem;
      margin-bottom: .386667rem;
    }
    a.btn {
      width: 2.906667rem;
      padding: .213333rem .16rem;
      border-radius: .48rem;
    }
  }
}
