
<!DOCTYPE html>
<html>

<head>
    <title>银豆网</title>
    <script src="https://static.yindou.com/weixin/js/flexible_css.js"></script>
    <script src="https://static.yindou.com/weixin/js/flexible.js"></script>
</head>

<body>
    <div id="app" class="main">
        <div class="progress-block" v-if="progress">
            <div class="progress-outer">
                <div class="progress-enter">
                    <div class="progress-bg" :style="{width: process_percent + '%'}"></div>
                </div>
                <div class="tooltip ft-15" :style="{left: 'calc(' + process_percent + '%)'}">{{process_percent}}%</div>
            </div>
        </div>
        <router-view></router-view>
    </div>
            
    <template id="pageApp">
        <div class="page">
            <div class="page01" v-cloak v-if="page_show==1">
                <div class="top-block">
                    <img v-animate-css="transitionSlideInDown" style="width: 100%;margin-top: 1.306667rem;" class="ydzy img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page01_text_ydzy_min.png" alt="">
                    <img v-animate-css="transitionZoomIn200" style="width: 100%;margin-top: .133334rem;" class="date img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page01_text_date.png" alt="">
                </div>
                <div class="mid-block">
                    <img v-animate-css="transitionZoomIn400" style="width: 100%; position: absolute; top: -.2rem;" class="zsqh img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page01_text_zsqh_min.png" alt="">
                    <!-- <a v-animate-css="transitionFadeInUp600" class="btn ft-16" href="#">查看签到流程</a> -->
                    <router-link v-animate-css="transitionFadeInUp600" style="position: absolute; left: 50%;top: 7.84rem; margin-left: -1.666667rem;font-size:.426667rem;line-height:.426667rem;" class="ft-16" to="/pageSignSteps">
                        <span class="btn">查看签到流程</span>
                    </router-link>
                </div>
            </div>
            <div class="page02" v-cloak v-if="page_show==2">
                <div class="top-block">
                    <img v-animate-css="transitionSlideInDown" style="width: 100%;margin-top: 1.306667rem;" class="ydzy img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page01_text_ydzy_min.png" alt="">
                    <img v-animate-css="transitionZoomIn200" style="width: 100%;position: absolute;top: 4.16rem;z-index: 9;" class="bjdl img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page02_text_bjdl.png" alt="">
                </div>
                <div class="mid-block">
                    <img v-animate-css="transitionFadeInUp600" style="width: 100%;position: absolute;top: -.693333rem;" class="planet img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/planet_light_min.png" alt="">
                    <img v-animate-css="transitionZoomIn800" style="width: 100%;position: absolute;top: 3rem;" class="zsqh img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page02_text_zsqh.png" alt="">
                    <span v-animate-css="transitionZoomIn800" style="display: block;
                    width: 100%;color: #fee07b;font-family: 'Songti TC';text-align: center;position: absolute;top: 4.733333rem;font-size:1.706667rem;line-height:1.706667rem;" class="countdown ft-64">{{countdown}}</span>
                    <!-- <a v-animate-css="transitionFadeInUp1000" class="btn ft-16" href="#">查看签到流程</a> -->
                    <router-link v-animate-css="transitionFadeInUp1000" style="position: absolute; left: 50%; top: 7.4rem; margin-left: -1.666667rem;font-size:.426667rem;line-height:.426667rem;" class="ft-16" to="/pageSignSteps">
                        <span class="btn">查看签到流程</span>
                    </router-link>
                </div>
            </div>
            <div class="page03" v-cloak v-if="page_show==3">
                <div class="top-block">
                    <img v-animate-css="transitionSlideInDown" style="width:100%;margin-top: 1.413333rem;" class="img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page03_text_top.png" alt="">
                </div>
                <div class="mid-block">
                    <div v-animate-css="transitionZoomIn200" style="position:relative;" class="input-wraper">
                        <input type="text" class="v-input first ft-18" placeholder="输入报名人的姓名" v-model="username">
                        <i class="icon name"></i>
                    </div>
                    <div v-animate-css="transitionZoomIn400" style="position:relative;" class="input-wraper">
                        <input type="text" class="v-input ft-18" placeholder="输入报名时的手机号" v-model="userphone">
                        <i class="icon phone"></i>
                    </div>
                    <div v-animate-css="transitionFadeInUp600"><a @click="sign" class="qiandao btn ft-21" href="#">签&nbsp;到</a></div>
                    <router-link v-animate-css="transitionFadeInUp600" style="display: inline-block;position: relative;" to="/pageSignSteps">
                        <span class="process ft-16">查看签到流程</span>
                    </router-link>
                </div>
            </div>
            <div class="page04" v-cloak v-if="page_show==4">
                <div class="top-block">
                    <span v-animate-css="transitionFadeInLeft" style="display: inline-block;
                    color: #fedf7a;text-indent: .68rem;position: absolute;margin-top: .746667rem;font-size:.56rem;" class="name ft-21">欢迎您 {{userinfo.name}}：</span>
                    <div v-animate-css="transitionFadeInLeft" v-if="userinfo.reward === 0">
                        <img  class="wkh img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page04_text_wkh.png?v=1" alt="">
                    </div>
                    <div v-animate-css="transitionFadeInLeft" v-if="userinfo.reward === 1">
                        <img class="ykh img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page04_text_ykh.png?v=1" alt="">
                    </div>
                    <transition name="fade">
                        <div v-animate-css="transitionFadeInRight" v-show="!openedGiftBox">
                            <img class="lqlwts img100" :class="[userinfo.reward === 1 ? 'ykw_top' : '']" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page04_text_lqlyts.png?v=1" alt="">
                        </div>
                    </transition>
                </div>
                <div class="mid-block">
                    <transition name="fade">
                        <div v-if="!openedGiftBox">
                            <img v-animate-css="transitionZoomIn400" style="width: 100%; position: absolute;top: 5.893333rem;" class="giftbox img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page04_giftbox.png?v=1" alt="">
                            <a v-animate-css="transitionFadeInUp600" @click="openGiftBox(userinfo.number)" style="position: absolute;
                            top: 13.04rem;left: 2.733333rem;" href="#">
                                <span class="btn ft-18">银豆之约&nbsp;正式起航</span>
                            </a>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div>
                        <div v-if="openedGiftBox" v-animate-css="transitionZoomIn200" style="position: absolute;
                        top: 4.826667rem; left: .72rem;">
                            <span class="tabel_num">您的桌号：{{userinfo.number}}</span>
                        </div>
                        <div v-if="openedGiftBox" v-animate-css="transitionZoomIn200" style="width:100%; position: absolute;
                        top: 4.826667rem;top: 6.333333rem;">
                            <img class="img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page04_giftbox_open.png?v=1" alt="">
                        </div>
                    </div>
                    </transition>
                </div>
            </div>
            <div class="page05" v-cloak v-if="page_show==5">
                    <img v-animate-css="transitionZoomIn" style="width: 100%; margin-top: 2.373333rem;" class="img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/page05_giftbox_open_fail.png" alt="">
                    <div v-animate-css="transitionFlipInX200" href="#" @click="resign">
                        <span class="btn ft-21">重新签到</span>
                    </div>
                    <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">若没有报名纪录，建议您：</span></p>
                    <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">1.核对所填姓名是否为您报名时所填姓名；</span></p>
                    <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">2.核对所填电话是否为您报名时所填电话；</span></p>
                    <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">3.由于签到人数较多网络所限，建议您重新输入一次；</span></p>
                    <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">4.询问现场工作人员。</span></p>
            </div>
            <div class="bot-block" ></div>
            <transition name="dialog-fade">
                <div class="dialog" v-cloak v-show="showDialog">
                    <div class="dialog-mask"></div>
                    <div class="dialog-main">
                        <div class="dialog-container">
                            <div class="dialog-content ft-15">
                                <p>如果这是您自己的操作，请点击“取消”</p>
                                <p>并出示给工作人员协助完成</p>
                                <p>否则礼品会与您擦肩而过哦</p>
                            </div>
                            <div class="dialog-btns border-right-1px">
                                <a href="javascript:;" @click="restart" class="dialog-btn border-top-1px dialog-btn_highlight ft-18">继续开启</a>
                                <a href="javascript:;" @click="cancelDialog" class="dialog-btn border-top-1px ft-18">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </template>

    <template id="signSteps">
        <div class="page06">
            <div class="step1">
                <img v-animate-css="transitionFadeInLeft" style="width:100%;margin-top: .213333rem;" class="step01 img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step01.png" alt="">
                <img v-animate-css="transitionFlipInX200" style="width:100%;width: 3.2rem;display: block;
                margin: .533333rem auto;" class="step01_card" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step01_card.png" alt="">
            </div>
            <div class="step2">
                <img v-animate-css="transitionFadeInLeft400" style="width:100%;" class="step02 img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step02.png" alt="">
                <img v-animate-css="transitionZoomIn600" style="width: 8.48rem;
                display: block;
                margin: .666667rem auto .533333rem;" class="step02_sign img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step02_sign.png" alt="">
                <img v-animate-css="transitionFadeInRight600" style="width:100%;margin-bottom: .666667rem;" class="step02_text ig100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step02_text.png" alt="">
            </div>
            <div class="step3">
                <img v-animate-css="transitionFadeInLeft800" style="width:100%;" class="step03 img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step03.png" alt="">
                <img v-animate-css="transitionZoomIn1000" style="width:100%;width: 8.48rem;
                display: block;
                margin: .666667rem auto .4rem;" class="step03_giftbox img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step03_giftbox.png" alt="">
                <img v-animate-css="transitionFadeInRight1000" style="width:100%; margin-bottom: .92rem;" class="step03_text img100" src="https://caiyunupload.b0.upaiyun.com/ydimg/theme/2017/12/year_sign/step03_texts.png?v=2" alt="">
                <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">温馨小提醒哦：</span></p>
                <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">1.领取礼物的环节切勿自己操作，需由工作人员协助完成并确认后方可领取成功；</span></p>
                <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">2.签到完成后，会自动发送桌号信息，如果需要再次确认，重新输入个人信息后点击签到即可；</span></p>
                <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">3.来到年会现场已开户的豆粉，在签到完成后均可自动获取一张2%加息券，请注意查收平台账户；</span></p>
                <p v-animate-css="transitionFadeInUp400"><span class="txt ft-13">4.如有任何操作疑问，都可以让现场工作人员协同完成。</span></p>
                <div class="bot-block"></div>
            </div>
        </div>
    </template>
    
    <!-- end line, please don't delete -->
    <script src="./index.js"></script>
</body>

</html>
