/** 
 * Created by LHammer on 18/03/04.
 * Dialog common scss
 */
.v-dialog {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 100;
    &-mask {
        width: 100%; height: 100%;
        position: absolute;
        overflow: hidden;
        background-color: #25262d;
        opacity: .8;
    }
    &-container {
        width: 100%; height: 0;
        position: absolute;
        top: 50%;
    }
    &-content {
        width: 10rem;
        min-height: 4.8rem;
        padding: 2.28rem .64rem 0;
        @include center;
    }
}


