/**
 * 打字效果
 */
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes caret {
    50% { border-right-color: currentColor}
}

/**
 * fadein
 */
@keyframes dialog-fadein {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes dialog-zoom {
    0% {
        transform: scale(0)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}
.dialog-fade-enter-active {
    animation: dialog-fadein .4s
}

.dialog-fade-enter-active .dialog-container {
    animation: dialog-zoom .4s
}