@mixin font-size($size, $selector) {
  [data-dpr="1"] #{$selector} {
    font-size: $size;
  }
  [data-dpr="2"] #{$selector} {
    font-size: $size*2;
  }
  [data-dpr="3"] #{$selector} {
    font-size: $size*3;
  }
}