/**
 * 为避免打包代码量过大，较大的（大于一百行）第三方样式建议不要使用@import引入，使用CDN引入即可
 * 例如：swiper.scss就不要使用@import引入，直接使用<link rel="stylesheet" href="https://static.yindou.com/web/css/swiper.min.css">
 */
@import "normalize/index.scss";  /* resets */
@import "animation/index.scss";  /* 清除浮动 */
@import "mixins/index.scss";  /* mixins */

@include font-size(16px, "p");
@include font-size(69px, ".main i");

* {
    box-sizing: border-box;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
    line-height: 1;
}
html, body {
    height: 100%;
    line-height: 1;
    font-family: 'Microsoft Yahei Mono';
    -webkit-font-smoothing: antialiased;
}
.main {
    height: 100%;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        width: 6.12rem;
        overflow: hidden;
        white-space: nowrap;
        margin-top: .266667rem;
        border-right: 1px solid transparent;
        animation: typing 5s steps(14), caret 1s steps(1) infinite;
    }
    img {
        width: 229px;
    }
}
