/**
 * 为避免打包代码量过大，较大的（大于一百行）第三方样式建议不要使用@import引入，使用CDN引入即可
 * 例如：swiper.scss就不要使用@import引入，直接使用<link rel="stylesheet" href="https://static.yindou.com/web/css/swiper.min.css">
 */
@import "normalize/index.scss";  /* resets */
@import "animation/index.scss";  /* 常用动画 */
@import "basics/index.scss";  /* base */
@import "iconfonts/index.scss";  /* iconfonts */
@import "components/app/progress.scss";  /* loading */
@import "components/app/record.scss";  /* record page */

#app {
    height: 100%;
}
.main {
    height: 100%;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        width: 15em;
        overflow: hidden;
        white-space: nowrap;
        margin-top: .52rem;
        border-right: 1px solid transparent;
        animation: typing 5s steps(15), caret 1s steps(1) infinite;
    }
    img {
        width: 3.05333rem;
    }
}
